*,
html,
body {
    margin: 0;
    padding: 0;
    font-family: "Silkscreen", sans-serif;
}

:root {
    --bg-priamry: rgb(64, 64, 158);
    --bg-secondary: #eaeaea;
    --txt-primary: #f7f7f7;
    --txt-secondary: #222222;
    --icons-bg-primary: tomato;
    --icons-bg-secondary: rgb(24, 99, 24);
}

.container {
    width: 100%;
    height: auto; 
    display: block;
    min-height: 100vh;
    background-color: var(--bg-priamry);
}
.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.card {
    width: 40%;
    border: 1px solid white;
    background-color: var(--bg-secondary);
    color: var(--txt-secondary);
    padding: 32px;
    margin: 8px;
    box-shadow: 2px 2px 2px 2px rgb(0, 0, 0, 0.5);
}

.text-center {
    text-align: center;
}

.title {
    font-size: 2em;
}

.icons {
    margin-top: 4px;
    margin-bottom: 4px;
    font-size: 24px;
    color: var(--icons-bg-primary);
}

.description {
    margin-top: 10px;
    font-size: .5em;
}

.btn {
    margin-top: 16px;
    padding: 2px;
    cursor: pointer;
    border: none;
    width: 100%;
}

.btn:hover {
    background-color: var(--bg-priamry);
    color: var(--txt-primary);
    -ms-transform: rotate(2deg);
    transform: rotate(2deg);
    transition: 0.3s ease-in-out;
}

.container2 {
        display: none;
    }


@media screen and (max-width: 476px) {
    .container {
        background-color: white;
    }

    .card {
        width: 95%;
    }

    .title {
        font-size: 3em;
    }

    .icons {
        font-size: 2em;
    }

    .description {
        font-size: 1.5em;
    }

    .btn {
        padding: 16px;
        font-size: 1.5em;
    }

    
}

@media screen and (min-width: 1200px) {
    .container {
        display: none;
    }

    .container2 {
        display: block;
    }
}