*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f6f9;
    color: #333333;
    line-height: 1.6;
    padding: 20px;
}

nav {
    background-color: #1a365d;
    color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 25px;
    margin-top: 5px;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.1);
}

nav h1 {
    font-size: 25px;
    color: #ffffff;
    margin-bottom: 12px;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
    transition: color 0.3s;
}

nav a:hover {
    color: #3182ce;
}

section {
    background-color: #ffffff;
    padding: 25px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 11);
}

h2 {
    color: #2b6cb0;
    border-bottom: 2px solid #e2e8f0;
    padding-bottom: 8px;
    margin-bottom: 15px;
}

h3 {
    color: #154caa;
    padding-top: 15px;
    margin-bottom: 10px;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 15px;
    margin: 15px 0px;
}

ul {
    margin-left: 20px;
    margin-bottom: 15px;
}

li {
    margin-left: 0px;
    margin-bottom: 5px;
}

#Acara {
    display: flex;
    flex-wrap: wrap;
    /* margin-bottom: 15px; */
    gap: 15px;
}

.workshop-sains, .kompetisi-sains, .seminar-sains {
    flex: 1;
    min-width: 250px;
    background-color: #ebf8ff;
    border-left: 4px solid #3182ce;
    padding: 15px;
}

#Pameran {
    background-color: #ffffff;
    padding: 25px;
}

#Pameran .main-title {
    text-align: center;
    margin-bottom: 10px;
}

.card-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    border-top: 4px solid #154caa;
}

.card {
    display: flex;
    flex-direction: column;
    width: 200px;
    flex: 1;
    min-width: 250px;
    background-color: #ebf8ff;
    
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
    background-color: #ffffff;
}

thead {
    background-color: rgb(174, 167, 167);
    color: black;
}

th,td {
    border: 1px solid #cbd5e0;
    padding: 10px 12px;
    text-align: center;
}

tbody tr:nth-child(even) {
    background-color: ##f7fafc;
}

tfoot {
    background-color: #edf2f7;
    font-size: 13px;
    font-style: italic;
    color: #4a5568;
}

form {
    max-width: 600px;
    margin: auto;
}

label {
    font-weight: bold;
    color: #4a5568;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"],
textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: solid #cbd5e0;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
    border-color: #3182ce;
    outline: none;
}

textarea {
    resize: vertical;
}

button[type="submit"] {
    background-color: #3182ce;
    color: white;
    border: none;
    padding: 12px 25px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #2b6cb0;
}

footer {
    text-align: center;
    padding: 15px;
    color: #718096;
    font-size: 15px;
}